<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgs.order.mapper.OrderProductPriceMapper">
  <resultMap id="BaseResultMap" type="com.mgs.order.domain.OrderProductPricePO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="sale_date" jdbcType="DATE" property="saleDate" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
  </resultMap>
</mapper>