<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgs.meituan.mapper.CityMapper">

    <select id="queryCityList" resultType="com.mgs.meituan.dto.city.response.CityDTO">
        SELECT DISTINCT
           t.data_name cityName,
           t.data_code cityCode
        FROM t_baseinfo_areadata t
        WHERE t.level = 3 OR t.level = 4
    </select>
</mapper>